
.body-overflow{
    overflow-y: hidden;
    overflow-x: hidden;
}
.display-no{
    display: none;
}
.img-index {
width: 100%;
height: auto;
vertical-align:top; opacity:1;
transition : all .3s;
  }
 .smallscreen {
    display: none;
  }
  /* 如果使用者視窗寬度 <= 768px */
  @media screen and (max-width: 768px) {
    .img-index {
      display: none;
    }
    .smallscreen {
      display: block;
    }
  }
